---
import { getParsedType } from "astro/zod";
import Layout from "../layouts/Layout.astro";
import Main from "../components/Main.vue";

var pokemons = [];
let allPokemon = await fetchAll("https://pokeapi.co/api/v2/pokemon/?limit=25");

console.log(pokemons);

async function fetchAll(url) {
  if (url != null) {
    const response = await fetch(url).then((response) => response.json());
    const data = response;
    console.log(data);
    await data.results.forEach((element) => {
      pokemons.push(element.name);
    });
    // Check if there is a next page and make a recursive call
    if (data.next) {
      await fetchAll(data.next);
    }
  } else {
    return;
  }
}
---

<Layout title="Welcome to Astro.">
  <main class="max-w-3xl mx-auto">
    <!-- <Select client:load initialPokemonData={pokemons} /> -->
    {pokemons}
  </main>
</Layout>

<style></style>
